/* --------------------------------------------
================== Header =====================
-------------------------------------------- */

#social_link
{
    color:rgb(52, 109, 241);
}

#social_button
{
    color:rgb(49, 118, 223);
    font-size:22px;
}

#social_button1
{
    background:rgb(19, 101, 207);
    font-size:22px;
}

.col-lg-2{
  padding:10px;
}
/*.col-lg-2 img{
   
}*/
.col-half-offset{
    margin-left:4.166666667%
}

body {
    margin-right: 0;
    max-width: 102%;
    overflow-x: hidden;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.nomob {
    display: none;
}

.nodesk {
    display: inline-block;
}

@media (min-width: 600px) and (orientation:landscape) {

    .nomob {
        display: block;
    }

    .nodesk {
        display: none;
    }
}

.main {
    width: 100%;
    margin-left: 0px;
    margin-top: -80px;
    right: 0;
}

.tag_title,
.tag_details {
    color: rgb(90, 90, 90);
    font-family: 'Open Sans', sans-serif;
    margin-top:5px;

}
.tag_details
{
    padding:5px;
}
.about_title_track{
    padding:10px;
    margin:5px;
    font-size:26px;
}

#notice_banner
{
    background-color:rgb(32, 101, 204);
    color:white;
    font-size:14px;
    padding:5px;
    text-align:center;
    
}

.page-header {
    opacity: 1;
}

.texter,
.navbar-toggler-icon {
    color: rgb(74, 74, 74) !important;
}

.navbar-transparent .logo,
.navbar-transparent .logo span {
    /*display: none;*/
    color: transparent !important;
}

#joinbtn {
    background-color: rgb(52, 109, 241);
    margin: 5px;
}

.logo {
    color: rgb(83, 109, 254);
    font-family: Open Sans;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
}

#fb {
    padding-left: 13px;
    padding-right: 13px;
}

#pro {
    padding-left: 11px;
    padding-right: 11px;
}



.main-raised {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-toggler-icon {
    color: rgb(64, 64, 64);
}

#footie {
    color: rgb(210, 210, 210);
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}

#heart {
    color: rgb(250, 36, 5);
    padding: 3px;
}


.navbar.fixed-top {
    border-radius: 0;
    padding: 0 !important;
}

#header-text {
    cursor: pointer;
}

#hometop-container {
    text-align: center;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index:1000;
}

#top_row
{
    background-color:black;
}

.nav-link{
    color: #3c4858 !important;
}

.title
{
    font-family: 'Open Sans', sans-serif;
    margin-top:0px;
}
.description
{
    color: rgb(64, 64, 64);
    font-family: 'Open Sans', sans-serif;
}

.icon
{
    font-size:30px;
    background:#333232;
    color:white;
    padding:8px;
    border-radius:50px;
    margin:4px;
    padding-left:16px;
    padding-right:16px;

}

#mobile 
{
    background: rgb(65, 67, 70);
}

#details_redirect
{
    font-size: 16px;
    color:rgb(0, 102, 255);
    transition: 0.3s ease;
}

#details_redirect:hover{
    color:rgb(253, 135, 204);
}

#dsc-logo > img {
    max-height: 90%;
}

.header-content {
    height: 400px;
}
 
.header-content > div {
    width: 100vw; 
    padding: 0; 
    margin: 0; 
    max-width: 100vw;
}

.header-content > div > div{
    height: 100vh;
}

.margin-t-0 {
    margin-top: 0;
}

#background-header-home {
    background-image: url('../img/kit/header.png'); 
    background-size: 110% auto;
}

#background-header-flutter {
    background-image: url('../img/kit/flutter.jpg'); 
    background-size: 100% auto;
    background-position: bottom;
}

#background-header-gcpcc {
    background-image: url('../img/kit/gcpcc.png'); 
    background-size: 100% auto;
    background-position: bottom;
}

#background-login {
    background-image: url(../img/kit/login_bg_cropped.png);
    background-size: 100% auto;
    background-position: left;

}

.left-text {
    text-align:left;
}

.center-text {
    text-align: center;
}

/* Only For What DSC HIT Does */
.header-card {
    font-weight:600;
    padding:8px 4px;
    border-radius:8px; 
    width:120px;
    text-align: center;
}

.card-title {
    margin-left: -8px;
    color: rgba(0,0,0,0.87); 
    font-family: 'Open Sans', sans-serif;
}

.card-description {
    font-family: 'Open Sans', sans-serif;
}

.logo-partner {
    max-width: 100px;
}

#gcp-tracks {
    margin-left:-8px; 
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------------------------------
==================== Base ===================== 
---------------------------------------------- */

.container-page{
    margin-top: 10%;
    margin-bottom: 10%;
}

.custom-horizontal-rule{
    border: 1px solid rgba(247,247,247);
}

.no-padding{
    padding: 0px;
}

/* ----------------------------------------------
==================== Colors ===================== 
---------------------------------------------- */
.black-lighten-5 {
    color:rgb(120,120,120);
}

.black-lighten-3 {
    color:rgb(53, 53, 53);
}

.yellow {
    color:rgb(228, 180, 25);
}

.blue {
    color:rgb(12, 80, 182);
}

.orange {
    color:rgb(223, 77, 19);
}

.green {
    color:rgb(11, 184, 83);
}

.yellow-back {
    background-color:rgba(247, 212, 17, 0.15);
}

.blue-back {
    background-color:rgba(12, 80, 182,0.15);
}

.orange-back {
    background-color:rgba(223, 77, 19,0.15);
}
.green-back {
    background-color:rgba(11, 184, 83,0.15);
}

.white-back {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

a{
    cursor: pointer;
}
p{
    cursor: arrow;
}
#buttons {
    background-color: rgb(52, 109, 241);
    border-radius: 2px;
}

#button_generate {
    background-color: rgb(52, 109, 241);
    border-radius: 2px;
}

.carousel-wrapper
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.texter1 {
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    padding-right: 18px;
    padding-left: 18px;
}

#red_text {
    color: rgb(235, 65, 50);
}

.blue_text {
    color: rgb(0, 102, 255);
}

#green_text {
    color: rgb(57, 182, 32);
}

#orange_text {
    color: rgb(252, 189, 0);
}

@media (max-width: 992px){
    #sectionsNav{
        height: 65px;
    }
}

/* ------------------------------------------------
=================== Footer ========================
------------------------------------------------ */

#footer .container {
    text-align: left;
    display: block;
    border:none;
}

#footer .container {
    padding-top: 10px;
}


#footer a:link {
    text-decoration: none;
    color: inherit;
}

#footer .fa {
    font-size: 20px;
    margin-left: 10px;
}

#footer span {
    margin: 0px 50px 0px 0px;
}



#footer a:active {
    text-decoration: none;
    color: inherit;
}

#footer .share-social {
    display: inline-block;
}

#footer .share-social span {
    font-size: 16px;
}

#footer p a:link {
    margin: 0px;
    padding: 0px;
}

#footer span b:first-child {
    display: inline-block;
    padding-bottom: 10px;
}

#footer img {
    height: 24px;
    width: auto;
}

#footer .col-lg-9 {
    text-align: right;
}



#footer #top-button {
    position: absolute;
    right: 0px;
    padding: 25px 25px 22.5px 20px;
    
    margin: -6px 0px 0px 0px;
    color: inherit;
    z-index: 999;
}

#footer .hide-bar{
    padding: 0px;
    margin: 0px;
}

.coming-soon{
    padding-top: 15%;
    padding-bottom: 10%;
}

@media (max-width: 992px) {
    #footer .col-lg-9 {
        text-align: left;
    }

    #footer .footer-details {
        padding-bottom: 15px;
    }

    #footer .share-social span {
        font-size: 12px;
    }

    #footer .fa {
        font-size: 16px;
    }

    #footer #top-button {
        padding: 63px 20px 57px 20px;
        margin-top: -6.8px;
    }

    #footer #top-button .fa{
        font-size: 20px;
    }

    #footer .copyright{
        padding-top: 10px;
    }

    #footer .hide-bar{
        visibility: hidden;
    }

    #footer #dev-credits{
        display: block;
        padding-top: 5px;
    }


    .coming-soon{
        padding-top: 35%;
        padding-bottom: 20%;
    }
}



/* For scroll bar */
body::-webkit-scrollbar {
    width: 0.4em;

}

body::-webkit-scrollbar-track {
    background-color: #dddddd;
}

body::-webkit-scrollbar-thumb {
    height: 200px;
    background-color: #999;
    outline: 1px solid slategrey;
}

#login {
    margin-top: 4rem;
}

#login-content {
    padding: 20px;
    align-content: center;
    justify-content: center;
}

.login-form {
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.login-title {
    text-align: center;
    color: rgba(0,0,0,0.87); 
    font-family: 'Open Sans', sans-serif;
}

#login-btn {
    margin: 10px;
    background-color: rgb(52, 109, 241);
    border-radius: 25px;
}

#google-btn {
    border-radius: 25px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    background-color: #346DF1;
}

#facebook-btn {
    border-radius: 25px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    background-color: #4267B2;
}

#github-btn {
    border-radius: 25px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    background-color: #24292E;
}

#login-pugins {
    padding-left: 5px;
    padding-right: 5px;
}


/*
.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}*/