#dsc-logo > img {
    max-height: 90%;
}

.header-content {
    height: 400px;
}
 
.header-content > div {
    width: 100vw; 
    padding: 0; 
    margin: 0; 
    max-width: 100vw;
}

.header-content > div > div{
    height: 100vh;
}

.margin-t-0 {
    margin-top: 0;
}

#background-header-home {
    background-image: url('../img/kit/header.png'); 
    background-size: 110% auto;
}

#background-header-flutter {
    background-image: url('../img/kit/flutter.jpg'); 
    background-size: 100% auto;
    background-position: bottom;
}

.left-text {
    text-align:left;
}

.center-text {
    text-align: center;
}

/* Only For What DSC HIT Does */
.header-card {
    font-weight:600;
    padding:8px 4px;
    border-radius:8px; 
    width:120px;
    text-align: center;
}

.card-title {
    margin-left: -8px;
    color: rgba(0,0,0,0.87); 
    font-family: 'Open Sans', sans-serif;
}

.card-description {
    font-family: 'Open Sans', sans-serif;
}

.logo-partner {
    max-width: 100px;
}

/* ==== Colours ==== */
.black-lighten-5 {
    color:rgb(120,120,120);
}

.black-lighten-3 {
    color:rgb(53, 53, 53);
}

.yellow {
    color:rgb(228, 180, 25);
}

.blue {
    color:rgb(12, 80, 182);
}

.orange {
    color:rgb(223, 77, 19);
}

.green {
    color:rgb(11, 184, 83);
}

.yellow-back {
    background-color:rgba(247, 212, 17, 0.15);
}

.blue-back {
    background-color:rgba(12, 80, 182,0.15);
}

.orange-back {
    background-color:rgba(223, 77, 19,0.15);
}
.green-back {
    background-color:rgba(11, 184, 83,0.15);
}

.white-back {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}



