/* ==========================================================================
Header
========================================================================== */

#social_link
{
    color:rgb(52, 109, 241);
}

#social_button
{
    color:rgb(49, 118, 223);
    font-size:22px;
}

#social_button1
{
    background:rgb(19, 101, 207);
    font-size:22px;
}

.col-lg-2{
  padding:10px;
}
.col-lg-2 img{
   
}
.col-half-offset{
    margin-left:4.166666667%
}

body {
    margin-right: 0;
    max-width: 102%;
    overflow-x: hidden;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.nomob {
    display: none;
}

.nodesk {
    display: inline-block;
}

@media (min-width: 600px) and (orientation:landscape) {

    .nomob {
        display: block;
    }

    .nodesk {
        display: none;
    }
}

.main {
    width: 102%;
    margin-left: 0px;
    margin-top: -80px;
    right: 0;
}

.tag_title,
.tag_details {
    color: rgb(90, 90, 90);
    font-family: 'Open Sans', sans-serif;
    margin-top:5px;

}
.tag_details
{
    padding:5px;
}
.about_title_track{
    padding:10px;
    margin:5px;
    font-size:26px;
}

#notice_banner
{
    background-color:rgb(32, 101, 204);
    color:white;
    font-size:14px;
    padding:5px;
    text-align:center;
    
}

.page-header {
    opacity: 1;
}

.texter,
.navbar-toggler-icon {
    color: rgb(74, 74, 74) !important;
}

.navbar-transparent .logo,
.navbar-transparent .logo span {
    /*display: none;*/
    color: transparent !important;
}

#joinbtn {
    background-color: rgb(83, 109, 254);
    margin: 5px;
}

.logo {
    color: rgb(83, 109, 254);
    font-family: Open Sans;
    font-weight: 500;
    font-size: 16px;
    vertical-align: middle;
}

#fb {
    padding-left: 13px;
    padding-right: 13px;
}

#pro {
    padding-left: 11px;
    padding-right: 11px;
}



.main-raised {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-toggler-icon {
    color: rgb(64, 64, 64);
}

#footie {
    color: rgb(210, 210, 210);
    font-size: 20px;
    padding: 5px;
    margin-left: 10px;
}

#heart {
    color: rgb(250, 36, 5);
    padding: 3px;
}


.navbar.fixed-top {
    border-radius: 0;
    padding: 0 !important;
}

#header-text {
    cursor: pointer;
}

#hometop-container {
    text-align: center;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    z-index:1000;
}

#top_row
{
    background-color:black;
}

.nav-link{
    color: #3c4858 !important;
}

.title
{
    font-family: 'Open Sans', sans-serif;
    margin-top:0px;
}
.description
{
    color: rgb(64, 64, 64);
    font-family: 'Open Sans', sans-serif;
}

.icon
{
    font-size:30px;
    background:#333232;
    color:white;
    padding:8px;
    border-radius:50px;
    margin:4px;
    padding-left:16px;
    padding-right:16px;

}

#mobile 
{
    background: rgb(65, 67, 70);
}

#details_redirect
{
    font-size: 16px;
    color:rgb(0, 102, 255);
    transition: 0.3s ease;
}

#details_redirect:hover{
    color:rgb(253, 135, 204);
}

/* ==========================================================================
Footer
========================================================================== */
/*
.page-footer {
    font-size: 40px;
    padding-top: 20px;
    color: #fff;
    background-color: rgb(70, 70, 70);
}

.page-footer li a i,
.page-footer1 li a i {

    color: white;
    background-color: rgb(83, 109, 254);
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, .18);
}


.footer-container {
    width: 100%;
}

.page-footer {
    text-align: left;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 10%;
    color: #fff;
    background-color: rgb(70, 70, 70);
}

.page-footer1 {
    text-align: left;
    padding-left: 10%;
    font-size: 40px;
    padding-top: 20px;
    color: #fff;
    background-color: rgb(50, 50, 50);
}

*/


/* ==========================================================================
Other color edits
========================================================================== */

#buttons {
    background-color: rgb(52, 109, 241);
    border-radius: 2px;
}

.texter1 {
    color: white;
    background-color: rgb(0, 102, 255);
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    padding-right: 18px;
    padding-left: 18px;
}

#red_text {
    color: rgb(235, 65, 50);
}

#blue_text {
    color: rgb(0, 102, 255);
}

#green_text {
    color: rgb(252, 189, 0);
}

#orange_text {
    color: rgb(252, 189, 0);
}

@media (max-width: 992px){
    #sectionsNav{
        height: 65px;
    }
}